<h1>Заказ №{{ order.id }}</h1>

<h2>Информация о клиенте</h2>
<p>Имя: {{ client.name }}</p>
<p>Email: {{ client.email }}</p>
<p>Телефон: {{ client.phone_number }}</p>
<p>Адрес: {{ client.address }}</p>

<h2>Список товаров</h2>
<table>
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Цена</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }} руб.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p>Общая сумма заказа: {{ total_amount }} руб.</p>

<nav>
    <form action="{% url 'home' %}"  target="_self">
        <button>Главная</button>
    </form>
</nav>